@import "variables.less";
@import "mixins.less";
@import "fa.less";

// Global Components
html,
body {
  height: 100%;
  width: 100%;
}

body {
  .body-font;
}

a {
  .transition-all;
  color: @theme-primary;
  &:hover,
  &:focus {
      color: darken(@theme-primary, 10%);
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: fade(@gray-darker, 10%);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .heading-font;
}

p {
  font-size: 1.1em;
  line-height: 1.4;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  1% { opacity: 0; }
  100% { opacity: 1; }
}

// Navigation

.navbar-default {
  background-color: white;
  border-color: fade(@gray-darker, 5%);
  .transition-all;
  .heading-font;
  .navbar-header .navbar-brand {
      .heading-font;
      color: @theme-primary;
      padding: 0;
      &:hover,
      &:focus {
          color: darken(@theme-primary, 10%);
      }
      .logo {
        height: 35px;
        margin-top: 0.45em;
        display: none;

        &.in {
          display: inline-block;
        }
      }

      @media @screen-xs {
        .logo {
          height: 35px;
          margin-top: 0.45em;
          display: inline-block;

          &.in {
            display: inline-block;
          }
        }

        #header-logo-mono {
          display: none;
        }
      }
  }

  @media @screen-xs {
    .navbar-header .navbar-brand {
      padding-left: 1em;
    }
  }

  .navbar-header .navbar-toggle {
    font-size: 12px;
    color: @gray-darker;
    padding: 8px 10px;
  }
  .nav {
    > li {
      > a {
        .alt-font;
        font-size: 11px;
      }
      > a,
      > a:focus {
        color: @gray-darker;
        &:hover {
          color: @theme-primary;
        }
      }
      &.active {
        > a,
        > a:focus {
          color: @theme-primary !important;
          background-color: transparent;
          &:hover {
              background-color: transparent;
          }
        }
      }
    }
  }
  @media @screen-sm {
    background-color: transparent;
    border-color: transparent;
    .navbar-header .navbar-brand {
      color: fade(white, 70%);
      &:hover,
      &:focus {
        color: white;
      }
    }
    .nav > li > a,
    .nav > li > a:focus {
      color: fade(white, 85%);
      &:hover {
        color: white;
      }
    }
    &.affix {
      background-color: rgba(255, 255, 255, .9);
      border-color: fade(@gray-darker, 10%);

      .navbar-header .navbar-brand {
        color: @gray-darker;
        &:hover,
        &:focus {
          color: @theme-primary;
        }
      }

      .nav > li > a,
      .nav > li > a:focus {
        color: @gray-darker;
        &:hover {
          color: @theme-primary;
        }
      }
    }
  }
}

// Homepage Header
header {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  background: url("../img/bg-pattern.png"), @theme-secondary; /* fallback for old browsers */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, @theme-secondary , @theme-tertiary); /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(to left, @theme-secondary , @theme-tertiary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;

  .header-container {
    display: flex; // forces this container to expand to the height of the blue section
  }

  .header-content {
    padding: 0 0 25px;
    display: flex;

    .header-content-inner {
      position: relative;
      margin-top: 72px;
      width: 100%;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 30px;

        @media @screen-xs {
          margin-bottom: 5px;
        }
      }

      @media @screen-xs {
        h1 {
          font-size: 22px;
        }
      }

      @media @screen-md {
        h1 {
          font-size: 45px;
        }
      }

      .service {
        margin: 0.5em auto;
      }
    }

    a#learn-more {
      margin-top: 4em;
    }
  }

  img.logo {
    height: 6em;
    filter: grayscale(10%);
  }
}

// Sections

hr.thick {
  border-width: 0px;
  max-width: initial;
  margin-top: 0;
  height: 50px;
  box-shadow: 0 20px 20px -23px rgba(0,0,0,.75)
}

section {
  padding: 3em 0 0;

  &.projects {
    padding-bottom: 1em;
  }

  h2 {
    font-size: 45px;
  }

  @media @screen-md {
    padding: 3em 0 0;
  }
}

section.why {
  .container .row {
    padding: 1.5em 1em;
  }
}

section.services {
  background: -webkit-linear-gradient(darken(@gray-lightest, 5%), @gray-lightest);
  background: linear-gradient(darken(@gray-lightest, 5%), @gray-lightest);
  .container .row {
    padding: 1.5em 1em;
    .logo-container {
      height: 9em;

      .logo {
        display: none;

        @media @screen-xs {
          display: inline;
        }
      }
    }
    h3 {
      font-weight: 600;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 1em;
    }
    p {
      padding-top: 2em;
    }
  }
}

section.techstack {
    padding-bottom: 0;

    .section-heading {
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .device-container,
    .feature-item {
        max-width: 6em;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 8em;
        @media @screen-md {
            margin-bottom: 0;
        }
    }
    .feature-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        h3 {
            font-size: 3em;
        }
        i {
            font-size: 80px;
              background: -webkit-linear-gradient(to left, @theme-secondary , @theme-tertiary);
              background: linear-gradient(to left, @theme-secondary , @theme-tertiary);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
        }
        img {
          max-width: 5em;

        }
    }
}

section.projects {
  text-align: center;

  .carousel-container {
    padding: 0;
    margin-top: 2.5em;

    @media @screen-md {
      display: flex;
    }

    .carousel {
      padding: 0;

      .carousel-inner {
        .carousel-caption {
          text-align: left;
          right: 15%;
          left: 15%;
          padding-bottom: 1em;

          @media @screen-xs {
            font-size: 0.85em;
          }
        }
      }

      img.carousel-overlay-img {
        opacity: 0.9;
        width: 200%;
      }

      a.carousel-link {
        width: 100%;
        height: 100%;
        display: block;

        &.image {
          position: absolute;
          width: 100%;
          // height: 260px;
          background-size: cover;
          background-position: center center;
        }
      }

      .carousel-control {
        max-width: 2em;
        font-size: 3.5em;
        // sorry dudes this is the only cross-browser way to do this.
        // Actually, the normal approach works on every browser in the world.. except Safari.
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .project-info {
      text-align: left;
      padding: 0;
      display: flex;
      flex: 1;
      min-height: 178px;
      font-size: .85em;

      @media @screen-xs {
        height: 250px; // fix height on mobile so the viewport doesn't bounce.
      }

      @media @screen-lg {
        font-size: 1em;
      }

      .project-item {
        float: left;
        padding: 1em 1em;
        display: none;
        flex-direction: column;
        flex: 1;
        width: 100%;
        pointer-events: none;

        h3 {
          margin-top: 0;
        }

        &.active {
          pointer-events: all;
          display: flex;
          animation: fadeIn 900ms forwards;
        }

        .project-links {
          height: 29px;

          .btn {
            border-radius: 4px;
            font-size: .8em;
          }

          a {
            margin-right: 1em;
          }

          .fa-apple {
            color: #999;
          }
          .fa-android {
            color: #A4C639;
          }
        }

        p {
          flex-grow: 2;
        }

        .technologies {
          padding-bottom: 1em;

          span.strong {
            font-weight: bold;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

section.about {
  text-align: center;
  p {
    font-size: 16px;
  }

  .grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -moz-filter: grayscale(100%);
    transition: all 0.5s ease;
    &:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
    }
    @media @screen-xs {
      filter: none;
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
    }
  }

  .img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      width: 200px;
      height: 200px;
    }
    .social-container {
      text-align: right;
      width: 200px; // should be same as img
      margin-top: -28px; // should be same as icon
      z-index: 1;
    }
  }
}

section.contact {
  text-align: left;

  h2 {
      margin-top: 0;
      margin-bottom: 25px;
      i {
          color: @brand-google-plus;
      }
  }

  .container {
     background: linear-gradient(@gray-lightest , darken(@gray-lightest, 5%));
     width: 100%;

    .row form {
      float: none;
      margin-top: 1em;

      .form-group .btn-group {
        display: block;
        width: 220px;
        margin-right: auto;
        margin-left: auto;

        .btn {
          width: 110px;
          outline: none;
        }
      }

      .form-control.description {
        max-width: 100%;
      }

      .submit {
        width: 100%;
      }
    }
  }
}

section.location {
  margin: 0;
  padding: 0;

  #map {
    height: 425px;
    width: 100%;
  }
}

footer {
    background-color: @gray-darker;
    padding: 25px 0;
    color: fade(white, 30%);
    text-align: center;
    p {
      margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: fade(white, 30%);
                &:hover,
                &:focus,
                &:active,
                &.active {
                  text-decoration: none;
                }
            }
        }
    }

    .footer-container {

      .footer-section {
        text-align: left;

        & p {
          margin: 5px 0;
        }

        & address {
          margin-bottom: 0;
        }

        &.right {

          i {
            margin-right: 5px;
          }
          a {
            margin-right: 10px;
          }
          a:last-child {
            margin-right: 0;
          }

          .social-container {
            margin-top: 3px;
            a, i:not(.fa) {
              font-size: 18px;

              &:hover, &:focus {
                text-decoration: none;
              }
            }
          }

          @media @screen-xs {
            margin-left: auto;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            width: 100%;
          }
        }
      }
    }
}

// Bootstrap Overrides

.bg-primary {
  background: @theme-primary;
  background: -webkit-linear-gradient(@theme-primary , darken(@theme-primary, 5%));
  background: linear-gradient(@theme-primary , darken(@theme-primary, 5%));
}

.text-primary {
  color: @theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Button Styles
.btn-outline {
    color: white;
    border-color: white;
    border: 1px solid;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        background-color: @theme-primary;
        border-color: @theme-primary;
    }
}

.btn {
    .alt-font;
    border-radius: 300px;
}

.btn-xl {
    padding: 15px 45px;
    font-size: 11px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

::selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

// Used in the JQuery plugin
.imgBlackAndWhite {
    position:relative;
    display:block;
}

body {
    -webkit-tap-highlight-color: @gray-darker;
}

.vcenter {
  @media @screen-md {
    display: flex;
    align-items: center;
  }
}

.textAlign {
  text-align: justify;
  text-justify: inter-word;
}